.section-main {
  /* height: 1000px;*/
}
.card {
  background-color: aliceblue;
}
.card p {
  width: 100%;
  position: relative;
  margin-top: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

  color: #717171;
  text-align: center;
}
.container {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 280px);
  column-gap: 40px;
  row-gap: 20px;
  /* height: 950px;*/
}
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loader 1.1s ease infinite;
  animation: loader 1.1s ease infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
