@keyframes flyoutAppear {
  0% {
    opacity: 0;
    transform: translateY(-250vh) scale(0.5);
    top: 50%;
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    top: 0;
    left: 0;
  }
}
.flyout-container_unselectAll_button {
  width: 120px;
  padding: 12px 0;
  position: relative;
  margin-top: 33px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(94, 90, 83);
  border-radius: 6px;
  border: 0;
  background: greenyellow;
  cursor: pointer;
}

.flyout-container {
  width: 600px;
  height: 100px;
  display: flex;
  position: relative;
  background: #fff;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(152, 156, 149, 0.719);
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 6px;
  opacity: 0;
  animation: flyoutAppear 0.9s ease-in forwards;
}
.flyout-container_items_selected {
  color: black;
  margin-top: 33px;
}

.flyout-container_unselect_all {
  position: relative;
  width: 150px;
  height: 100px;
}
.flyout-container_download {
  position: relative;
  width: 150px;
  height: 100px;
}
