.error-boundary {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  .error-boundary h1 {
    width: 70%;
    margin: 0 auto;
    color: red;
  }
  .error-boundary p {
    width: 70%;
    font-size: 40px;
    margin: 0 auto;
    color: red;
  }