.card {
  background-color: aliceblue;
}
.card p {
  width: 100%;
  position: relative;
  margin-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #717171;
  text-align: center;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loader 1.1s ease infinite;
  animation: loader 1.1s ease infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.card_img {
  width: 240px;
  height: 320px;
}
